<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все новости</title>
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/allnews.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row ">
                <div class="logo">
                    <a href="/admin">
                        <p>P</p>
                        <p>RESS.KZ</p>
                    </a>

                </div>
                <ul class="header-nav">
                    <li><a href="/admin/news">Новости</a></li>
                    <li><a href="/admin/analytics">Аналитика</a></li>
                    <li><a href="/admin/interviews">Интервью</a></li>
                    <li><a href="/admin/opinions">Мнения</a></li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>